{% extends 'base.Admin.html.twig' %}

{% block title %}Modifier Fiche Personnage Lr{% endblock %}

{% block body %}
    <h1>Modifier Fiche Personnage Lr</h1>

    {{ include('admin_fiche_personnage_lr/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('admin_fiche_personnage_lr_index') }}" class="text-light">Retour a la listes des Fiches LR</a>

    {{ include('admin_fiche_personnage_lr/_delete_form.html.twig') }}
{% endblock %}
