{% extends 'base.Admin.html.twig' %}

{% block title %}Crée une nouvelle  Fiche Personnage Lr{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/artworkfichepersonnage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbuttonficheperso.css') }}">

{% endblock %}

{% block body %}
    <h1>Crée une nouvelle Fiche Personnage Lr</h1>

    {{ include('admin_fiche_personnage_lr/_form.html.twig') }}

    <a href="{{ path('admin_fiche_personnage_lr_index') }}" class="btn2">Retour a la listes des Fiches LR</a>
{% endblock %}
