{% extends 'base.Admin.html.twig' %}

{% block title %}Modifier La Fiche Personnage Rarete Ssr{% endblock %}

{% block body %}
    <h1>Modifier La Fiche Personnage Rarete Ssr</h1>

    {{ include('admin_fiche_personnage_rarete_ssr/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_fiche_personnage_rarete_ssr_index') }}" class="text-light">Retour a la listes des Fiche Personnage Rarete Ssr</a>

    {{ include('admin_fiche_personnage_rarete_ssr/_delete_form.html.twig') }}
{% endblock %}
