{% extends 'base.Admin.html.twig' %}

{% block title %}Crée une nouvelle Fiche Personnage Rarete Ssr{% endblock %}

{% block body %}
    <h1>Crée une nouvelle Fiche Personnage Rarete Ssr</h1>

    {{ include('admin_fiche_personnage_rarete_ssr/_form.html.twig') }}

    <a href="{{ path('admin_fiche_personnage_rarete_ssr_index') }}" class="text-light">Retour a la liste des Fiches</a>
{% endblock %}
