<form method="post" action="{{ path('admin_encyclopedie_du_personnage_delete', {'id': encyclopedie_du_personnage.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette Encyclopédie du Personnage?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ encyclopedie_du_personnage.id) }}">
    <button class="btn6">Supprimer</button>
</form>
