{% extends 'base.Admin.html.twig' %}

{% block title %}Modifier Encyclopedie du Personnage{% endblock %}

{% block body %}
    <h1>Modifier Encyclopedie Du Personnage</h1>

    {{ include('admin_encyclopedie_du_personnage/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_encyclopedie_du_personnage_index') }}" class="text-light">Retour a la liste</a>

    {{ include('admin_encyclopedie_du_personnage/_delete_form.html.twig') }}
{% endblock %}
