{% extends 'base.Admin.html.twig' %}

{% block title %} Crée une nouvelle Encyclopedie du Personnage{% endblock %}

{% block body %}
    <h1 class="text-light">Crée une nouvelle Encyclopedie du Personnage</h1>

    {{ include('admin_encyclopedie_du_personnage/_form.html.twig') }}

    <a href="{{ path('admin_encyclopedie_du_personnage_index') }}" class="text-light">Retour a la liste</a>
{% endblock %}
