.btn1 {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    background: #34d9a2;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn1:hover {
    background: #3cfc9f;
    color: white;
    background-image: -webkit-linear-gradient(top, #3cfc9f, #3cfc9f);
    background-image: -moz-linear-gradient(top, #3cfc9f, #3cfc9f);
    background-image: -ms-linear-gradient(top, #3cfc9f, #3cfc9f);
    background-image: -o-linear-gradient(top, #3cfc9f, #3cfc9f);
    background-image: linear-gradient(to bottom, #3cfc9f, #3cfc9f);
    text-decoration: none;
  }

  .btn2 {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    background: #00abfa;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn2:hover {
    color: white;
    background: #00abfa;
    text-decoration: none;
  }

  .btn3 {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    background: #434fcc;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn3:hover {
    color: white;
    background: #434fcc;
    text-decoration: none;
  }

  .btn4 {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    background: #ffc107;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn4:hover {
    color: white;
    background: #ffc107;
    text-decoration: none;
  }

  .btn5 {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    background: #34d9a2;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn5:hover {
    color: white;
    background: #34d9a2;
    text-decoration: none;
  }

  .btn6 {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 19px;
    background: #ff0f0f;
    padding: 9px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn6:hover {
    color: white;
    background: #ff0f0f;
    text-decoration: none;
  }