body {
    min-height: 900px ;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.img{
    font-weight: 600;
    color: black;
    margin-left: -140px;
    height: 500px;
    margin-top: -70px;
}

.text{
    font-weight: 600;
    color: black;
    margin-left: 340px;
}

.text0{
    font-weight: 600;
    color: white;
    margin-left: -84px;
}

.text2{
    font-weight: 600;
    color: black;
    margin-left: 175px;
}

