.flex {
  display: flex;
  background-color: gray;
  margin: 20px;
  border: solid 10px;
  border-radius: 20px;
  border-color: white;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 45%;
  text-decoration: none;
}

.text {
  display: flex;
  width: 37%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.image {
  display: flex;
  width: 30%;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex:hover {
  opacity: 1;
  background-color: #d6a136;
}

body {
  background-color: black;
}

@media screen and (max-width: 2560px) {
  .flex {
    width: 32%;
  }

  .image {
    width: 41%;
  }
}

@media screen and (max-width: 1920px) {
  .flex {
    width: 42%;
  }

  .image {
    width: 41%;
  }
}

@media screen and (max-width: 1440px) {
  .flex {
    width: 60%;
  }

  .image {
    width: 41%;
  }

}

@media screen and (max-width: 1024px) {
  .flex {
    width: 60%;
  }

  .image {
    width: 41%;
  }

}

@media screen and (max-width: 923px) {
  .flex {
    width: 80%;
  }

}

@media screen and (max-width: 425px) {
  .flex {
    width: 82%;
  }

  .image {
    width: 63%;
  }

}

@media screen and (max-width: 375px) {
  .flex {
    width: 45%;
  }

  .image {
    width: 60%;
  }

}