.flex {
  display: flex;
  background-color: gray;
  margin: 20px;
  border: solid 10px;
  border-radius: 20px;
  border-color: white;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 45%;
  text-decoration: none;
}

.text {
  display: flex;
  width: 37%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.image {
  display: flex;
  width: 30%;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex:hover {
  opacity: 1;
  background-color: #d6a136;
}

body {
  background-color: black;
}

@media screen and (max-width: 1440px) {
  .flex {
    width: 45%;
  }

  .image {
    width: 35%;

  }

}

@media screen and (max-width: 1024px) {
  .flex {
    width: 75%;
  }

  .image {
    width: 35%;

  }

}

@media screen and (max-width: 944px) {
  .flex {
    width: 69%;
  }

  .image {
    width: 35%;

  }

}

@media screen and (max-width: 850px) {
  .flex {
    width: 84%;
  }

  .image {
    width: 39%;

  }

}

@media screen and (max-width: 768px) {
  .flex {
    width: 84%;
  }

  .image {
    width: 39%;

  }

}

@media screen and (max-width: 425px) {
  .flex {
    width: 82%;
  }

  .image {
    width: 88%;

  }

}
