.flex {
  display: flex;
  background-color: gray;
  margin: 20px;
  border: solid 10px;
  border-radius: 20px;
  border-color: white;
  color: white;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 47%;
  text-decoration: none;
}

.text {
  display: flex;
  width: 37%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.image {
  display: flex;
  width: 30%;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.flex:hover {
  opacity: 1;
  background-color: #d6a136;
}

body {
  background-color: black;
}


@media(min-width: 810px) and (max-width: 1080px) {

  .flex {
    width: 95%;
  }

}

 


