*début footer*/
.fa-arrow-up:before {
    content: "\f062";
    
}
.footer{
    background-color: #808080;
    margin:0;
}
.footer a {
    text-decoration: none;
    color: white;
}
.footer ul {
    list-style: none;
    padding: 40px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
}
.ico {  
    text-align: center;
}
.footer li {
    padding: 20px;
    color: white;
}

.logo {
    border-radius: 7px;
    height: 300px;
}
/* Fin Footer */