img {
    border-radius: 7%;
    height: 430px;
    width: 308px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .img2 {
    border-radius: 7%;
    height: 340px;
    width: 155px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .img3 {
    border-radius: 7%;
    height: 340px;
    width: 221px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  