.flex {
  background-color: gray;
  margin: 30px;
  border: 10px solid white;
  border-radius: 20px;
  color: white;
  width: 956px;
  margin-bottom: 113px;
  margin-top: -615px;
  margin-left: 722px;
}

.flex .border-bottom {
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

  .flex .row:first-child p:last-child {
    margin-bottom: 0;
  }

.flex .row .col-6 {
  padding-top: 1em;
}

.flex .row .col-6:nth-child(2) {
  border-left: 1px solid white;
}

.image {
  display: flex;
  width: 30%;
}

.container2 {
  margin: 270px;
  display: flex;
  height: 993px;
  width: 975px;
  border-radius: 20%;
  margin-top: -624px;
  margin-left: 779px;
}

.img {
  border-radius: 7%;
  height: 627px;
  margin-left: -212px;
  margin-top: 85px;
}

@media screen and (max-width: 768px) and (min-width: 451px) {
  .flex {
    width: 41%;
    margin-left: 45%;
  }

  .img {
    width: 86%;
    margin-left: 17%;
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 515px) {
  .flex {
    width: 50%;
    margin-left: 45%;
  }

  .img {
    width: 93%;
    margin-left: 10%;
  }
  
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .flex {
    width: 50%;
    margin-left: 44%;
  }

  .img {
    width: 98%;
    margin-left: 1%;
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .flex {
    width: 48%;
    margin-left: 46%;
  }

  .img {
    width: 98%;
    margin-left: 7%;
  }
  
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  .flex {
    width: 105%;
    margin-left: 7%;
    margin-top: 5%;
  }

  .img {
    width: 164%;
    height: 31%;
    margin-left: 34%;
  }
  
}

@media screen and (max-width: 667px) and (min-width: 375px) {
  .flex {
    width: 51%;
    margin-left: 46%;
  }

  .img {
    width: 127%;
    margin-left: -28%;
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .flex {
    width: 105%;
    margin-left: 3%;
    margin-top: 5%;
  }

  .img {
    width: 164%;
    height: 31%;
    margin-left: 34%;
  }
  
}

@media screen and (max-width: 1368px) and (min-width: 912px) {
  .flex {
    width: 80%;
    margin-left: 11%;
    margin-top: 5%;
  }

  .img {
    width: 164%;
    height: 31%;
    margin-left: 34%;
  }
  
}

@media screen and (max-width: 740px) and (min-width: 360px) {
  .flex {
    width: 98%;
    margin-left: 1%;
    margin-top: 5%;
  }

  .img {
    width: 243%;
    margin-left: -2%;
  }
  
}






