.flex {
  display: flex;
  background-color: gray;
  margin: 30px;
  border: solid 10px;
  border-radius: 20px;
  border-color: white;
  color: grey;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 956px;
  height: 656px;
  margin-bottom: 113px;
  margin-top: -657px;
  margin-left: 708px;
}

.image {
  display: flex;
  width: 30%;
}

.container2 {
  margin: 270px;
  display: flex;
  height: 993px;
  width: 975px;
  border-radius: 20%;
  margin-top: -624px;
  margin-left: 779px;
}

.img {
  border-radius: 7%;
  height: 654px;
  margin-left: -362px;
  margin-top: 20px;
}

.text0 {
  margin-left: 97px;
  margin-top: 20px;
  color: white;
 }
 .text1 {
  margin-left: 100px;
  margin-top: 425px;
  border-bottom: thick solid white;
  color:white
 }

 .text2 {
  margin-left: 100px;
  margin-top: 30px;
  color:white
 }

 .text3 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
  border-bottom: thick solid white;
 }

 .text4 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
 }

 .text5 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
  border-bottom: thick solid white;
 }

 .text6 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
 }

 .text7 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
  border-bottom: thick solid white;
 }

 .text8 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
 }

 .text9 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
  border-bottom: thick solid white;
 }

 .text10 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
 }

 .text11 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
 }

 .text12 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
  border-bottom: thick solid white;
 }

 .text13 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
 }

 .text14 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
 }

 .text15 {
  margin-left: 100px;
  margin-top: 30px;
  color:white;
  border-bottom: thick solid white;
 }