<form method="post" action="{{ path('admin_fiche_personnage_ssr_delete', {'id': fiche_personnage_ssr.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette Fiche Personnage SSR?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_personnage_ssr.id) }}">
    <button class="btn6">Supprimer</button>
</form>
