{% extends 'base.Admin.html.twig' %}

{% block title %}Crée une nouvelle Fiche Personnage Ssr{% endblock %}

{% block body %}
    <h1>Crée une nouvelle Fiche Personnage Ssr</h1>

    {{ include('admin_fiche_personnage_ssr/_form.html.twig') }}

    <a href="{{ path('admin_fiche_personnage_ssr_index') }}" type="button" class="btn btn-info">Retour a la liste des Fiches Ssr</a>
{% endblock %}
