{% extends 'base.Admin.html.twig' %}


{% block title %}Modifier Fiche Personnage Ur{% endblock %}

{% block body %}
    <h1>Modifier Fiche Personnage Ur</h1>

    {{ include('admin_fiche_personnage_ur/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('admin_fiche_personnage_ur_index') }}" type="button" class="btn btn-info">Retour a la listes des Fiches Ur</a>

    {{ include('admin_fiche_personnage_ur/_delete_form.html.twig') }}
{% endblock %}
