{% extends 'base.html.twig' %}

{% block title %}Encyclopédie des Personnages{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/flexboxencyclopediedespersonnages.css') }}">

{% endblock %}

{% block body %}

<h1 class="text-light">Encyclopédie des Personnages </h1>

    <div class="box" style="flex-flow: row wrap;">
      {% for encyclopediedespersonnages in encyclopedie_des_personnages %}
        <a href="{{ path('encyclopedie_du_personnage', {'id': encyclopediedespersonnages.id }) }}" class="flex">
          <div class="image">
            <img src=" {{ asset('img/logoencyclopediedespersonnages/' ~ encyclopediedespersonnages.img) }} " alt=""/>
          </div>
          <div class="text">
            <p>{{ encyclopediedespersonnages.title }}</p>
          </div>
        </a>
        {% endfor %}
    
    {% endblock %}
