<form method="post" action="{{ path('admin_encyclopedie_des_personnages_delete', {'id': personnage.id}) }}" onsubmit="return confirm('Es-tu sûr de vouloir supprimer cette Encyclopedie des Personnages?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ personnage.id) }}">
    <button class="btn6">Supprimer</button>
</form>
