{% extends 'base.Admin.html.twig' %}

{% block title %}Crée une nouvelle Encyclopédie{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadmin/encyclopediedespersonnages.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/cssadminbutton/cssbutton.css') }}">

{% endblock %}

{% block body %}
    <h1>Crée une nouvelle Encyclopédie</h1>

    {{ include('admin_encyclopedie_des_personnages/_form.html.twig') }}

    <a href="{{ path('admin_encyclopedie_des_personnages_index') }}" class="btn2">Retour a la liste des Encylopédie des Personnages</a>
{% endblock %}
