{% extends 'base.html.twig' %}

{% block title %}Page de Contact{% endblock %}

{% block stylesheets %}

 <link rel="stylesheet" type="text/css" href="{{ asset('css/css.css') }}">

{% endblock %}

{% block body %}

<h1>N'hésitez pas a m'envoyer un mail pour suggérer de possible amélioration du site ou autre :D </h1>

<div class="container text-light">
{{ form(formulaire) }}
</div>

{% endblock %}
