<form method="post" action="{{ path('admin_fiche_personnage_ur_active_skill_delete', {'id': fiche_personnage_ur_active_skill.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche_personnage_ur_active_skill.id) }}">
    <button class="btn">Supprimer</button>
</form>
