{{ form_start(form) }}
<div class="text-light">
    {{ form_widget(form) }}
    <button class="btn btn-success" type="button"  >{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
