{% extends 'base.Admin.html.twig' %}

{% block title %}Edit FrontPageNouveauPerso{% endblock %}

{% block body %}
    <h1>Edit FrontPageNouveauPerso</h1>

    {{ include('admin_front_page_nouveau_perso/_form.html.twig', {'button_label': 'Mettre a jour'}) }}

    <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="text-light" class="text-light">Retour a la liste des Nouveau Personnages</a>

    {{ include('admin_front_page_nouveau_perso/_delete_form.html.twig') }}
{% endblock %}
