{% extends 'base.Admin.html.twig' %}

{% block title %}Crée un Nouveau Perso en Front Page{% endblock %}

{% block body %}
    <h1>Crée un Nouveau Perso en Front Page</h1>

    {{ include('admin_front_page_nouveau_perso/_form.html.twig') }}

    <a href="{{ path('admin_front_page_nouveau_perso_index') }}" class="text-light">Retour a la liste des Nouveau Perso en Front Page</a>
{% endblock %}
